<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Employee Management System</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container my-2">
            <h1>Employees List</h1>
            <a th:href="@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Employee Birth Date</th>
                        <th>Employee Gender</th>
                        <th>Employee Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="employee:${listEmployees}">
                        <td th:text="${employee.employeeName}"></td>
                        <td th:text="${employee.birthDate}"></td>
                        <td th:text="${employee.gender}"></td>
                        <td th:text="${employee.email}"></td>
                        <td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>
                            <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
